.MainPage{
    min-width: 850px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #777;
}

.MainPage .card{
    padding: 10px 0;
}

.MainPage button{
    /* margin-top: 10px; */
}


.mainPage-header{
    width: 100%;
    text-align: left;
    color: #6D6E85;
    font-family: 'Chela One', cursive !important;
}

.invoice-list-table{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.invoice-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    color: #7d7d7d;
    margin-bottom: 10px;
    padding: 10px 0;
    font-family: 'Roboto Slab', cursive;
}

.invoice-list-col{
    flex: 1 0 50px;
}


.mainPage-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}

.add-invoice{
    width: 50px;
    height: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #33CABB;
    font-family: 'Roboto Slab', cursive;
    border: 0;   
    cursor: pointer;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;    
    border-radius: 100%;
    margin-top: 10px;
}