.registration{
    min-width: 450px;
    height: 500px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #777;
}

.registration form{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration .form-header{
    width: 100%;
    text-align: center;
    color: #6D6E85;
    font-family: 'Chela One', cursive;
}

.registration .formGroup{
    width: 100%;
}

.registration input{
    width: 100%;
}

.registration-btns{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.registration-btn {
    width: 100%;
    height: 40px;;
    background: #33CABB;
    font-family: 'Roboto Slab', cursive;
    border: 0;   
    cursor: pointer;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;    
}

.back-btn{
    padding: 5px 15px;
    background: #d29292;
    font-family: 'Roboto Slab', cursive;
    border: 0;   
    cursor: pointer;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;    

}

