.MainPage{
    width: 100%;
}

.MainPage .card{
    padding: 10px 0;
}

.MainPage button{
    /* margin-top: 10px; */
}

.center-col-verticaly > div[class*="col"]{
    display: flex;
    align-items: center;
}

.margin-top{
    margin-top: 10px;
}

.margin-left{
    margin-left: 10px;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}